@model Marketeers.Models.DriverModel

<header>
    <link rel="stylesheet" href="~/css/LogAndReg.css" />
</header>

<body>
    <div class="row">
        <div class="col-md-2">
            <h4 class="vertical-center">Driver Login</h4>
        </div>
    </div>

    <hr class="hr-login" style="margin-top: 2%" />

    <section>
        <div class="row">
            <div class="col-md-4">
                <h1>Ready to deliver today?</h1>
                <h6>We're glad to see you back!</h6>
            </div>
            <div class="col-md-2">
                <img align="left" src="/Img/happy-buggy.svg" alt="HTML5 Icon" style="width:132px;height:132px;">
            </div>
            <div class="col-md-6">
                <form method="post" asp-controller="Login" asp-action="DriverLogin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn-color" />
                    </div>
                    <div>
                        <p>Don't have an account? <a asp-controller="Register" asp-action="DriverIndex">Click to Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
