@model Marketeers.Models.MarketModel

<div class="font_setup">
    <h5 style="text-align:center">Home</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="/Img/infosheet-icon.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
        </dt>
        <dd class="col-sm-10">
            <div>
                <p><b>Your Supermarket Information</b></p>
                <button class="btn-color" type="button" onclick="location.href='@Url.Action("SupermarketInformation","Market")'">See Information</button>
            </div>
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="/Img/productsIcon.png" alt="HTML5 Icon" style="width:128px;height:128px;">
        </dt>
        <dd class="col-sm-10">
            
            <p><b>Your Supermarket Orders</b></p>
            <button class="btn-color" onclick="location.href='@Url.Action("SupermarketOrder","Market")'">See Curent Orders</button>
        </dd>
    </dl>
</div>

