@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}

<div class="font_setup">
    <h5 style="text-align:center">Menu</h5>
    <hr />
    <dl class="row">
        <p><b>Shop by Department</b></p>
        <hr />
    </dl>
 
    <div class="font-menu container" style="text-align: center;">
        <div class="row">
            <div class="col-md-4">
                <img src="/Img/vegetables.svg" alt="HTML5 Icon" style="width:250px;height:250px;">
                <h5>Produce</h5>
            </div>
            <div class="col-md-4">
                <img src="/Img/meat.svg" alt="HTML5 Icon" style="width:250px;height:250px;">
                <h5>Meat</h5>
            </div>
            <div class="col-md-4">
                <img src="/Img/fish.svg" alt="HTML5 Icon" style="width:250px;height:250px;">
                <h5>Sea Food</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/Img/bread.svg" alt="HTML5 Icon" style="width:250px;height:250px;">
                <h5>Beer and Wine</h5>
            </div>
            <div class="col-md-6">
                <img src="/Img/drinks.svg" alt="HTML5 Icon" style="width:250px;height:250px;">
                <h5>Deli/Bakery</h5>
            </div>
        </div>

    </div>
</div>


