<h1>Products</h1>
<hr>
<div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="Img/happy-buggy.svg">
                        <h4 class="card-title">Big Banana</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Potato</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="@Url.Action("Index","OrderPage")">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Gooby</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Mayo</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="Img/happy-buggy.svg">
                        <h4 class="card-title">Big Tomato</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Bumby</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Gooby</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Bingus</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="Img/happy-buggy.svg">
                        <h4 class="card-title">Big Banana</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Gawr</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Goomba</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img style="text-align: center;" src="~/Img/happy-buggy.svg">
                        <h4 class="card-title">Big Bingus</h4>
                        <h6 class="text-muted card-subtitle mb-2">$5.99</h6>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Add to Cart</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><input type="number" style="width: 61px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>