@model IEnumerable<Marketeers.Models.ProductModel>
<table class="table">
    <thead>
        <h1>Products</h1>
    </thead>
    <tbody>
        <tr class="mx-3">
            <div class="card-columns">
                @foreach (var item in (IEnumerable<ProductModel>)TempData["product"])
                {

                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/Img/food-ConvertImage.jpg" alt="Card image">
                        <div class="card-body text-center">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Itemname)</h4>
                            <p class="card-text"><b>Price:</b> $@Html.DisplayFor(modelItem => item.price)</p>
                            <p class="card-text"><b>Amount available:</b> @Html.DisplayFor(modelItem => item.quantity)</p>
                            <a href="#" class="btn btn-color">Add to Cart</a>
                        </div>
                    </div>
                }
            </div>
        </tr>
    </tbody>
</table>
