 section{
     margin: 40px;
}

 .row{
     padding: 10px;
 }

.btn-color-wider {
    border-radius: 5px;
    margin-top: 2%;
    padding: 4px;
    color: whitesmoke;
    background-color: black;
}

/* Failed */
#rcorners {
    border-radius: 45px;
    border: 2px solid #000000;
    margin-top: 200px;
    padding: 20px;
    width: 800px;
    height: 240px;
}

/* Show Market */
.market-container {
    margin: 20px;
    padding-left: 30px;
    padding-bottom: 40px;
}

#num-input-center{
    padding-left:40%;
}