@model Marketeers.Models.CustomerModel

<div class="font_setup">
    <h5 style="text-align:center">Home</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="/Img/infosheet-icon.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
        </dt>
        <dd class="col-sm-10">
            <div>
                <p><b>Your Orders</b></p>
                <button class="btn-color" type="button" onclick="location.href='@Url.Action("Index","DisplayOrder")'">Track your order</button>
            </div>
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="/Img/productsIcon.png" alt="HTML5 Icon" style="width:128px;height:128px;">
        </dt>
        <dd class="col-sm-10">
            @*
        <div>
        <p><b>Start shopping</b></p>
        <select class="option-color" class="browser-default custom-select">
            <option class="option-color" selected>Select Supermarket</option>
            <option class="option-color" value="1">Econo</option>
            <option class="option-color" value="2">Selectos</option>
            <option class="option-color" value="3">SuperMax</option>
        </select>
        </div>
            *@
            <p><b>Start Shopping</b></p>
            <button class="btn-color" onclick="location.href='@Url.Action("show","Market")'">Select Supermarket ></button>
        </dd>
    </dl>
</div>
<div>

    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
