@model Marketeers.Models.MarketModel

<header>
    <link rel="stylesheet" href="~/css/LogAndReg.css" />
</header>

<div class="container" id="rcorners">
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">Failed To Register</h5>
            <p class="card-text">Username or Password is Inadequate or the Username is Already in Use</p>
            <a class="btn-color-wider" asp-controller="Home" asp-action="Index">Home Page</a> |
            <a class="btn-color-wider" asp-controller="Register" asp-action="MarketIndex">Back to Register</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
