@model Marketeers.Models.CustomerModel

<header>
    <link rel="stylesheet" href="~/css/LogAndReg.css" />
</header>

<div class="row">
    <div class="col-md-2">
        <h4 class="vertical-center">Failed To Register</h4>
    </div>
</div>

<hr style="margin-top: 2%" />

<section>
    <dl class="row">
        Username or Password is Inadequate or the Username is Already in Use
    </dl>
    <div>
        <a asp-controller="Home" asp-action="Index">Home Page</a> |
        <a asp-controller="Register" asp-action="CustomerIndex">Back to Register</a>
    </div>
</section>