@model IEnumerable<Marketeers.Models.MarketModel>
@{
    ViewBag.Title = "Market List";
}

<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr class="mx-3">
            <div class="card-columns">
                @foreach (var market in (IEnumerable<MarketModel>)TempData["market"])
                {
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/Img/supermarket.jpg" alt="Card image">
                        <div class="card-body text-center">
                            <h4 class="card-title"> @Html.DisplayFor(modelItem => market.Username)</h4>

                            <button onclick="location.href='@Url.Action(market.Id.ToString(),"Market")'" type="button" class="btn btn-dark">Select</button>
                            
                        </div>
                    </div>
                }
</tr>
    </tbody>
</table>
