@model IEnumerable<Marketeers.Models.MarketModel>
@{
    ViewBag.Title = "Market List";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Market)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var market in (IEnumerable<MarketModel>)TempData["market"])
        {
            <tr>
                <td>
                    <button onclick="location.href='@Url.Action("Index","Product")'" type="button" class="btn btn-dark">Select</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => market.Market)
                </td>
            </tr>
        }
    </tbody>
</table>
