@model IEnumerable<Marketeers.Models.MarketModel>
@{
    ViewBag.Title = "Market List";
}

<header>
    <link rel="stylesheet" href="~/css/LogAndReg.css" />
</header>
<section  class="market-container">
    <table class="table">
        <thead>
            <h3 style="text-align:center">Available Markets</h3>
        </thead>
        <hr />
        <tbody>
            <tr class="mx-3">
                <div class="card-columns">
                    @foreach (var market in (IEnumerable<MarketModel>)TempData["market"])
                    {
                        <div class="card" style="width:400px">
                            <img class="card-img-top" src="~/Img/supermarket.jpg" alt="Card image">
                            <div class="card-body text-center">
                                <h4 class="card-title"> @Html.DisplayFor(modelItem => market.Username)</h4>
                                <button onclick="location.href='@Url.Action("Product","Product", new {marketid = market.Id})'" type="button" class="btn btn-dark">Select</button>
                            </div>
                        </div>
                    }
                </div>
            </tr>
        </tbody>
    </table>
</section>
