@model IEnumerable<Marketeers.Models.OrderModel>

<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr class="mx-auto">
            <h1>Scheduled Orders</h1>
            <hr/>
            <div class="card-columns">
                @foreach (var item in (IEnumerable<OrderModel>)TempData["orderfromdriver"])
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Customer Name</h5>
                            <p class="card-text">Customer ID: @Html.DisplayFor(modelItem => item.Customerid)</p>
                            <p class="card-text">Order Location: @Html.DisplayFor(modelItem => item.Location)</p>
                            <button onclick="location.href='@Url.Action("HelperCompleteOrder", "Order", new {orderid = item.Id})'" type="button" class="btn btn-dark">Complete</button>

                            <!--@Html.DisplayFor(modelItem => item.Id)-->
                            <!--@Html.DisplayFor(modelItem => item.Driverid)-->
                            <!--@Html.DisplayFor(modelItem => item.Marketid)-->
                        </div>
                    </div>
                }
            </div>
        </tr>
    </tbody>
</table>
